:root {
    --fundo: #365036;
    --fundo_header: #728b71;
    --botão: #DAD7CD;
    --borda_botão: #1a281a;
    --texto: #344E41;
    --container: white;
    --botão_carregado: #a3b18a;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 22px;
    background-color: var(--fundo);
    color: var(--texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px 20px 20px;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo_header);
    width: 36vw;
    color: white;
    font-size: 40px;
    padding: 1%;
    margin: 0 0 1% 0;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 0 0 12px 12px;
}

header:hover, header:focus {
    border: 3px solid var(--borda_botão);
}

header a{
    text-decoration: none;
    color: white;
    outline: none;
}

/* Botões fixos no topo */
.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 86%;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Botões de ajuste de fonte à esquerda */
.left-controls button {
    margin-right: 10px;
}

/* Botão de alternar idioma à direita */
.right-controls button {
    display: flex;
    align-items: center;
}

/* Estilos dos botões */
button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: var(--botão);
    color: var(--texto);
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
}

.button-icon {
    width: 26px;
    height: 26px;
} 

button:hover, button:focus {
    border: 4px solid var(--borda_botão);
    outline: none;
}

.container {
    max-width: 80%;
    background-color: var(--container);
    padding: 2% 3%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 4%;
}

.feature-image {
    width: 30%;
    margin-top: 2%;
    height: auto;
    border-radius: 10px;
}

.text-section {
    flex: 1;
    text-align: left;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#text {
    font-size: 16px;
    line-height: 1.6;
}

