:root {
    --fundo: #588157;
    --botão: #DAD7CD;
    --borda_botão: #344E41;
    --texto: #344E41;
    --container: white;
}

body {
    font-family: roboto, sans-serif;
    background-color: var(--fundo);
    color: var(--texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
}

/* Botões fixos no topo */
.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 89%;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Botões de ajuste de fonte à esquerda */
.left-controls button {
    margin-right: 10px;
}

/* Botão de alternar idioma à direita */
.right-controls button {
    display: flex;
    align-items: center;
}

/* Estilos dos botões */
button {
    display: inline;
    background-color: var(--botão);
    color: var(--texto);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.button-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    z-index: 2;
}

button:hover {
    border-color: var(--borda_botão);
}

.container {
    max-width: 84%;
    background-color: var(--container);
    padding: 2% 3%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 3%;
}

.feature-image {
    width: 26%;
    margin-top: 2%;
    height: auto;
    border-radius: 10px;
}

.text-section {
    flex: 1;
    text-align: left;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#text {
    font-size: 18px;
    line-height: 1.6;
}

